body {
    background-color: #101014;
}

.SD {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 1vh;
    display: flex;
    height: 98vh;
    width: 24vw;
    min-width: 200px; /* Ensures it doesn't get too small */
    background-color: #202024;
    border-radius: 12px;
}

.MG {
    background-color: #202024;
    border-radius: 12px;
    top: 0;
    right: 0;
    margin: 1vh;
    width: calc(100vw - 24vw - 4vh); /* Dynamically calculates width based on SD width */
    max-width: calc(100vw - 200px - 4vh); /* Ensures space when SD hits min-width */
    height: 10vh;
}