body {
    background-color: #101014;
    margin: 0;
    padding: 0;

}

.SD {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 1vh;
    display: flex;
    height: 98vh;
    width: 24vw;
    background-color: #202024;
    border-radius: 12px;
}

.MG {
    background-color: #202024;
    border-radius: 12px;
    top: 0;
    right: 0;
    margin: 1vh;
    width: calc(100vw - 24vw - 4vh); /* Dynamically calculates width based on SD width */
    height: 14vh;
}

.images {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    box-sizing: border-box;

    top: calc(14vh + 3vh);
    width: calc(100vw - 24vw - 4vh);
    height: calc(100vh - 14vh - 5vh);
    margin: 1vh;
    /* background-color: #270202; color to see the div*/
}

.contents {
    background-color: red;
    display: flex;
    /* Calculate width: (100% - 2 gaps) / 3 items */
    width: calc((100% - 12vh) / 3);
    aspect-ratio: 1 / 1; /*square */
    margin: 2vh;
    border-radius: 4px;
    overflow: hidden; /* Keeps images within rounded corners */
}
